PORT=8000
MONGO_URI=mongodb+srv://your_uri_here
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development    

ACCESS_TOKEN_SECRET=your_secret_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_secret_here
REFRESH_TOKEN_EXPIRY=10d

LOG_LEVEL=info
